*.pyc
.~lock.*
tags
.installed.cfg
bin/
develop-eggs/
downloads/
fake-eggs/
include/
lib/
parts/
var/
buildout-cache/downloads/dist/*.tgz
buildout-cache/downloads/dist/*.bzip
buildout-cache/downloads/dist/*.zip
buildout-cache/eggs/*.egg
.mr.developer.cfg
PKG-INFO
SOURCES.txt
requires.txt
Paste-1.7.5.1-py2.4.egg/
PasteDeploy-1.5.0-py2.4.egg/
PasteScript-1.7.3-py2.4.egg/
rhaptos.swordservice.plone.egg-info/
